<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SyncApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SyncRealtimeContentWriting"
        tools:targetApi="31">
        <activity
            android:name=".presentation.appActivities.DocumentActivity"
            android:exported="false"
            android:label="@string/title_activity_document"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.SyncRealtimeContentWriting" />
        <activity
            android:name=".presentation.appActivities.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.SyncRealtimeContentWriting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".presentation.appActivities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SyncRealtimeContentWriting">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="https" />
                <data android:host="sync-realtime.com" />
                <data android:host="www.sync-realtime.com" />
                <data android:pathPrefix="/document" />
            </intent-filter>
        </activity>
    </application>

</manifest>